h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: grey;
  font-weight: bold;
}
.increment-btn {
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin: 5px;
  border-radius: 5px;
}
.red {
  background: darkred;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
.container > div {
  place-items: center;
  text-align: center;
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
}
.container {
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}
